        @font-face {
        font-family: 'Glyphicons Halflings';
        src: url('../fonts/glyphicons-halflings-regular.eot');
        src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
        url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
        url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
        }
@font-face {
    font-family: 'Material-Design-Icons';
    src: url('../fonts/Material-Design-Icons.eot');
    src: url('../fonts/Material-Design-Icons.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Material-Design-Icons.woff') format('woff'),
         url('../fonts/Material-Design-Icons.ttf') format('truetype'),
         url('../fonts/Material-Design-Icons.svg#DroidSansRegular') format('svg');
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff') format('woff'),
         url('../fonts/Roboto-RegularItalic.woff') format('woff'),
         url('../fonts/Roboto-Medium.woff') format('woff'),
         url('../fonts/Roboto-Regular.woff') format('woff')
}
body,h4,p {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
}

        html {
        position: relative;
        min-height: 100%;
        }

        body {
        /* Margin bottom by footer height */
        margin-bottom: 60px;
        }

.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}
.navbar-header {
    -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 100px;
}
.navbar-brand{
  background: url(/img/mosquitoes.png) center / contain no-repeat;
  width: 100px;
}
.navbar-alignit .navbar-brand {
	top: 50%;
	display: block;
	position: relative;
	height: auto;
	transform: translate(0,-50%);
	margin-right: 15px;
  margin-left: 15px;
}