<!DOCTYPE html>
<html ng-app="vedroapp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Панель управления</title>

    <link rel="icon" type="image/ico" href="img/favicon.ico" />
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-material-datetimepicker.css">
    <link rel="stylesheet" href="css/material.min.css">
    <link rel="stylesheet" href="css/ripples.min.css">
    <link rel="stylesheet" href="css/roboto.min.css?family=Roboto:400,500" type="text/css">
    <link rel="stylesheet" href="css/ngProgress.css">
    <link rel="stylesheet" href="css/style.css">
    <!--<link href='http://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>-->
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">-->
</head>

<body ng-controller="MainCtrl">
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar6">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand text-hide" href="#">Комарсервис
            </a>
        </div>
        <div id="navbar6" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">Обновить</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
</nav>


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Панель управления
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <form novalidate name="form" class="css-form" ng-submit="submitDriveForm()">
                            <div class="form-group">
                                <div class="container-fluid">
                                    <label for="deviceMode" class="col-xs-4 control-label">
                                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Режим работы
                                    </label>
                                    <div class="col-xs-8">
                                        <select id="deviceMode" ng-model="form.deviceMode" class="form-control">
                                            <option id="manual" value="0">Ручной</option>
                                            <option id="auto" value="1">Автоматический</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="container-fluid">
                                    <label class="col-xs-4 control-label">
                                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span> Таймер1
                                    </label>
                                    <div class="col-xs-4">
                                        <input id="timer1start" ng-model="form.timer1start" ng-disabled="form.deviceMode == 1" class="form-control floating-label" placeholder="Время запуска">
                                    </div>
                                    <div class="col-xs-4">
                                        <input id="timer1stop" ng-model="form.timer1stop" ng-disabled="form.deviceMode == 1" type="text" class="form-control  floating-label" placeholder="Время остановки">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="container-fluid">
                                    <label class="col-xs-4 control-label">
                                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span> Таймер2
                                    </label>
                                    <div class="col-xs-4">
                                        <input id="timer2start" ng-model="form.timer2start" ng-disabled="form.deviceMode == 1" type="text" class="form-control floating-label" placeholder="Время запуска">
                                    </div>
                                    <div class="col-xs-4">
                                        <input id="timer2stop" ng-model="form.timer2stop" ng-disabled="form.deviceMode == 1" type="text" class="form-control  floating-label" placeholder="Время остановки">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="container-fluid">
                                    <label class="col-xs-4 control-label">
                                        <span class="glyphicon glyphicon-scale" aria-hidden="true"></span> Расход газа
                                    </label>
                                    <div class="col-xs-8">
                                        <select id="flowRate" ng-model="form.flowRate" class="form-control">
                                            <option value="0">0%</option>
                                            <option value="50">50%</option>
                                            <option value="70">70%</option>
                                            <option value="100">100%</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="container-fluid">
                                    <label class="col-xs-4 control-label">
                                        <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Контроль
                                        расхода газа
                                    </label>
                                    <div class="col-xs-8">
                                        <div class="togglebutton">
                                            <div class="form-group label-static">
                                                <label for="flowControlEnabled" class="control-label">
                                                    <input id="flowControlEnabled" ng-model="form.flowControlEnabled" type="checkbox" checked="">
                                                    <span class="toggle"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-10 col-sx-offset-2">
                                    <button type="submit" ngClick="Submit" class="btn btn-primary">Отправить
                                    </button>
                                </div>
                            </div>
                            <!--<div class="col-xs-8">
                            <input type="submit" ng-click="save(device)" value="Применить" />
                        </div>-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                Панель отображения состояния
            </h4>
        </div>
        <div class="panel-body">
            <div class="container-fluid">
                <!--<div class="list-group">-->
                <!--<div ng-repeat="devicepar in deviceParameters">-->
                <!--<div class="list-group-item">-->
                <!--<div class="row-content">-->
                <!--<div class="col-xs-6">-->
                <!--<h5 class="list-group-item-text">{{devicepar.name}}</h5>-->
                <!--</div>-->
                <!--<div class="col-xs-6">-->
                <!--<h5 class="list-group-item-text">{{devicepar.value}}</h5>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="list-group-separator"></div>-->
                <!--</div>-->
                <!--</div>-->
                <div class="row">
                    <ul>
                        <li ng-repeat="(key, value) in deviceParameters">
                            <div class="col-xs-5">
                                <p>{{key}}</p>
                            </div>
                            <div class="col-xs-6 col-xs-offset-1">
                                <p>{{value}}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<!--<script src="js/angular-resource.min.js"></script>-->
<script src="js/angular-route.min.js"></script>
<script src="js/arrive.js"></script>
<script src="js/moment-with-locales.min.js"></script>
<script src="js/material.min.js"></script>
<script src="js/bootstrap-material-datetimepicker.js"></script>
<script src="js/ripples.min.js"></script>
<script src="js/ngProgress.min.js"></script>
<script src="scripts/app.js"></script>

</body>

</html>